<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
        
    </head>

    <body>
        <div id="header">
        <%- include('header'); %>
        </div>
        
        <%- body %>
        
        <%- script %>
        
        <div id="footer">
        <%- include('footer'); %>
        </div>
    </body>
</html>

