<li id="post-${post._id}">
  <p>
    <%if(locals.user && locals.user.id==post.user.id){%>
    <small>
      <a href="/post/distroy/<%= post.id%>">X</a>
    </small>
    <%}%> <%= post.content %>
    <br />
    <small> <%= post.user.name %> </small>
  </p>
  <div class="post-comments">
    <% if (locals.user){ %>
    <form action="/comments/create" method="POST">
      <input
        type="text"
        name="content"
        placeholder="Type your answer..."
        required
      />
      <input type="hidden" name="post" value="<%= post._id %>" />
      <input type="submit" value="Reply Answer" />
    </form>

    <% } %>
    <div class="post-comments-list">
      <ul id="post-comments-<%= post._id %>">
        <% for (comment of post.comments){%>

        <p>
          <%if(locals.user && locals.user.id==comment.user.id){%>

          <small>
            <a href="/comments/distroy/<%= comment.id%>">X</a>
          </small>
          <%}%> <%= comment.content %>
          <br />
          <small> <%= comment.user.name %> </small>
        </p>
        <%} %>
      </ul>
    </div>
  </div>
</li>
